# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual Environment
.venv/
venv/
ENV/
mcp_server/.venv/
mcp_server/venv/
mcp_server/ENV/

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE configuration files
.vscode/
.idea/

.env
api/node_modules/
api/build/
aip/.env
